#IOBUF PORT "reset" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "delay_led" IO_TYPE=LVCMOS33 ;
IOBUF PORT "reset_led" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "seed_led" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "send_led" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "delay_led" SITE "14" ;
LOCATE COMP "reset_led" SITE "19" ;
LOCATE COMP "seed_led" SITE "18" ;
LOCATE COMP "send_led" SITE "15" ;
#LOCATE COMP "reset" SITE "58" ;
SYSCONFIG SLAVE_SPI_PORT=DISABLE ;
PERIOD NET "jtck" 20.000000 ns  ;
#LOCATE COMP "clk" SITE "88" ;
#PERIOD PORT "clk" 100.000000 ns ;
#IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
LOCATE COMP "signals[0]" SITE "3" ;
LOCATE COMP "signals[1]" SITE "7" ;
LOCATE COMP "signals[2]" SITE "10" ;
LOCATE COMP "signals[3]" SITE "63" ;
LOCATE COMP "signals[4]" SITE "60" ;
LOCATE COMP "signals[5]" SITE "67" ;
LOCATE COMP "signals[6]" SITE "59" ;
LOCATE COMP "signals[7]" SITE "64" ;
LOCATE COMP "signals[8]" SITE "62" ;
LOCATE COMP "signals[9]" SITE "4" ;
LOCATE COMP "signals[10]" SITE "12" ;
LOCATE COMP "signals[11]" SITE "8" ;
LOCATE COMP "signals[12]" SITE "65" ;
LOCATE COMP "signals[13]" SITE "21" ;
LOCATE COMP "signals[14]" SITE "20" ;
LOCATE COMP "signals[15]" SITE "13" ;
LOCATE COMP "signals[16]" SITE "24" ;
LOCATE COMP "signals[17]" SITE "25" ;
LOCATE COMP "signals[18]" SITE "9" ;
IOBUF PORT "signals[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[17]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "signals[18]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mclr" IO_TYPE=LVCMOS33 ;
