PERIOD NET "jtck" 20.000000 ns  ;
LOCATE COMP "mclr" SITE "9" ;
LOCATE COMP "shld_buttons[0]" SITE "57" ;
LOCATE COMP "shld_buttons[1]" SITE "62" ;
LOCATE COMP "shld_buttons[2]" SITE "60" ;
LOCATE COMP "shld_buttons[3]" SITE "16" ;
LOCATE COMP "shld_buttons[4]" SITE "10" ;
LOCATE COMP "shld_buttons[5]" SITE "12" ;
LOCATE COMP "shld_buttons[6]" SITE "13" ;
LOCATE COMP "shld_buttons[7]" SITE "17" ;
LOCATE COMP "shld_buttons[8]" SITE "7" ;
LOCATE COMP "shld_buttons[9]" SITE "58" ;
LOCATE COMP "shld_buttons[10]" SITE "65" ;
LOCATE COMP "shld_buttons[11]" SITE "63" ;
LOCATE COMP "shld_buttons[12]" SITE "8" ;
LOCATE COMP "shld_encA[0]" SITE "21" ;
LOCATE COMP "shld_encB[0]" SITE "20" ;
LOCATE COMP "shld_encS[0]" SITE "64" ;
LOCATE COMP "shld_encA[1]" SITE "24" ;
LOCATE COMP "shld_encB[1]" SITE "25" ;
LOCATE COMP "shld_encS[1]" SITE "59" ;
LOCATE COMP "send_led" SITE "14" ;
IOBUF PORT "mclr" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=UP ;
SYSCONFIG SLAVE_SPI_PORT=DISABLE ;